<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>500 - Page unavailable</title>
</head>
<body>
    <br><br><br><br>
    <div align="center">
        <div style="font-size: 220px; color: #1b64a9"><b>
            5
            &nbsp;
            <img src="../static/images/404_robot.png" alt="android robot" height="200px">
            &nbsp;
            <img src="../static/images/404_robot.png" alt="android robot" height="200px">
        </b></div>
        <br><br><br>
        <div style="font-size: 20px; color: #1b64a9">Sorry, but the requested page is unavailable due to a server hiccup.
            <br><br>
            Our engineers have been notified, so check back later.
        </div>
</body>
</html>